In [33]:
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
import numpy as np

In [34]:
path = "D:\\Data\\Bhuvan Nagesh\\Internshp\\ML\\ML\\Data\\titanicsurvival.csv"
data = pd.read_csv(path)

In [35]:
print(data)
print(data.info())
print(data.isnull().sum())

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB
None
Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [36]:
data['Sex']=data['Sex'].map({'male':1,'female':0})

In [37]:
medianvalue = data.Age.median()
print(medianvalue)
data.Age = data.Age.fillna(medianvalue)

28.0

In [38]:
print(data.info()) # getting data information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 34.9 KB
None

In [39]:
inputs = data.drop(['Survived'],axis=1)
output = data.drop(['Pclass','Sex','Age','Fare'],axis=1)

In [40]:
print(inputs)
print(output)

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0  28.0  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [41]:
x_train, x_test, y_train, y_test = train_test_split(inputs, output, train_size=0.8)

In [42]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
print(y_pred)
print(y_test)

[1 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 0 1 1 1 0 0 0 0 1 1 1 0 0 0
 1 1 0 1 1 0 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1
 1 1 0 1 1 1 0 1 0 1 0 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 0 0 1 0 0 0
 1 0 1 1 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 1 1 1 0 1 0 1 0 1 1]
     Survived
797         1
343         0
686         0
47          1
838         1
..        ...
629         0
329         1
295         0
657         0
268         1

[179 rows x 1 columns]

In [44]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import accuracy_score
result=accuracy_score(y_test,y_pred)
print(result)

[[86 24]
 [16 53]]
0.776536312849162